/*! Devices.css v0.2.0 | MIT License | github.com/picturepan2/devices.css */
.device,
.device::before,
.device::after,
.device *,
.device *::before,
.device *::after {
  box-sizing: border-box;
  display: block;
}

.device {
  position: relative;
  z-index: 1;
  transform: scale(1);
}

.device .device-frame {
  z-index: 1;
}

.device .device-screen {
  position: relative;
  object-fit: cover;
  object-position: center top;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
}

.device-iphone-14-pro {
  width: 428px;
  height: 868px;
}

.device-iphone-14-pro .device-frame {
  width: 428px;
  height: 868px;
  padding: 19px;
  border: 1px solid #1b1721;
  border-radius: 68px;
  background: #010101;
  box-shadow: inset 0 0 4px 2px #c0b7cd, inset 0 0 0 6px #342c3f;
}

.device-iphone-14-pro .device-screen {
  width: 390px;
  height: 830px;
  border-radius: 49px;
}

.device-iphone-14-pro .device-stripe::after,
.device-iphone-14-pro .device-stripe::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 7px;
  border: solid rgba(1, 1, 1, 0.25);
  border-width: 0 7px;
}

.device-iphone-14-pro .device-stripe::after {
  top: 85px;
}

.device-iphone-14-pro .device-stripe::before {
  bottom: 85px;
}

.device-iphone-14-pro .device-header {
  position: absolute;
  top: 29px;
  left: 50%;
  width: 120px;
  height: 35px;
  margin-left: -60px;
  border-radius: 20px;
  background: #010101;
}

.device-iphone-14-pro .device-sensors::after,
.device-iphone-14-pro .device-sensors::before {
  content: "";
  position: absolute;
}

.device-iphone-14-pro .device-sensors::after {
  top: 30px;
  left: 50%;
  width: 74px;
  height: 33px;
  margin-left: -60px;
  border-radius: 17px;
  background: #010101;
}

.device-iphone-14-pro .device-sensors::before {
  top: 42px;
  left: 50%;
  width: 9px;
  height: 9px;
  margin-left: 36px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-corner at 20% 20%, #6074bf 0, transparent 40%),
    radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555e 20%, transparent 50%);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.05);
}

.device-iphone-14-pro .device-btns {
  position: absolute;
  top: 115px;
  left: -2px;
  width: 3px;
  height: 32px;
  border-radius: 2px;
  background: #1b1721;
}

.device-iphone-14-pro .device-btns::after,
.device-iphone-14-pro .device-btns::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 62px;
  border-radius: 2px;
  background: #1b1721;
}

.device-iphone-14-pro .device-btns::after {
  top: 60px;
}

.device-iphone-14-pro .device-btns::before {
  top: 140px;
}

.device-iphone-14-pro .device-power {
  position: absolute;
  top: 200px;
  right: -2px;
  width: 3px;
  height: 100px;
  border-radius: 2px;
  background: #1b1721;
}

.device-iphone-14-pro .device-home::after,
.device-iphone-14-pro .device-home::before {
  content: "";
  position: absolute;
  z-index: 9;
  width: 6px;
  height: 6px;
  border: solid rgba(1, 1, 1, 0.25);
  border-width: 6px 0;
}

.device-iphone-14-pro .device-home::after {
  top: 0;
  right: 86px;
}

.device-iphone-14-pro .device-home::before {
  bottom: 0;
  left: 86px;
}

.device-iphone-14-pro.device-black .device-frame {
  border-color: #5c5956;
  box-shadow: inset 0 0 4px 2px #ffffff, inset 0 0 0 6px #76726f;
}

.device-iphone-14-pro.device-black .device-btns,
.device-iphone-14-pro.device-black .device-btns::after,
.device-iphone-14-pro.device-black .device-btns::before,
.device-iphone-14-pro.device-black .device-power {
  background: #5c5956;
}
